NODE_ENV=development
PORT=4000
CLIENT_URL=http://localhost:3000
MONGODB_URI=mongodb://127.0.0.1:27017/raksa-id
MONGODB_ENABLED=false
SESSION_SECRET=replace-with-a-long-random-secret
RPC_URL=https://rpc-amoy.polygon.technology
CHAIN_ID=80002
NETWORK_NAME=Polygon Amoy
CONTRACT_ADDRESS=
STORAGE_ENDPOINT=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
